<h1><%= @cocktail.name.capitalize %></h1>

<% if @cocktail[:photo].nil? %>
<div class="mb-5">
  <%= image_tag "https://i.pinimg.com/originals/b7/6a/bf/b76abf2167db870643b5b5163a4d7f65.jpg", width: 400, crop: :fill %>
</div>
<% else %>
<div class="plaatje mb-5">
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
</div>
<% end %>

<% @cocktail.doses.each do |dose| %>
 <p> <%= dose.ingredient.name %>: <%= dose.description %> <%= link_to "<i class='fas fa-trash'></i>".html_safe, dose_path(dose), method: :delete, data: { confirm: "YOU SURE?"} %></p>
  <% end %>



<%= link_to "Change recipe", new_cocktail_dose_path(@cocktail), class: "btn btn-primary mb-5" %>

