<h1><%= @cocktail.name.capitalize %></h1>

<% @cocktail.doses.each do |dose| %>
 <p> <%= dose.ingredient.name %> --- <%= dose.description %> <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "YOU SURE?"} %></p>
  <% end %>

<%= link_to "Change recipe", new_cocktail_dose_path(@cocktail), class: "btn btn-primary mb-5" %>
